#display-container {

    padding: 40px;
    flex: 1 1;
    // height: 80vh;
    width: 80%;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    height: 100%;
    margin: auto;
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        flex: 1 1;
        margin: 0 1px;
        position: relative;

        .bar {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            background-color: #673AB7;
        }

        .highlight {
            background-color: purple;
        }
    }
}
