.mat-expansion-panel {
    border-radius: 0 !important;

    &:not([class*='mat-elevation-z']) {
        box-shadow: none;
    }

    ::ng-deep {
        .mat-expansion-panel-body {
            padding: 0px !important;

            .mat-selection-list {
                padding-top: 0;
            }
        }
    }

    .selected {
        background-color: #E0E0E0;
    }

}

.list-item-algo-container {
    padding-left: 20px !important;
    margin-right: -16px !important;
    display: flex;
    justify-content: space-between;

    // .list-item-algo-container-name {}

    .list-item-algo-container-complexity {
        font-size: 10px;
        color: #999;
    }
}

.settings-container {
    padding: 10px;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;

    .settings-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;

        .settings-item {
            display: flex;
            justify-content: space-between;

            .settings-item-label {
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    width: 55px;
                    margin: 0;
                    text-align: end;
                }
            }

            button {
                width: 100%;
                height: 100%;
            }

        }

        .centered {
            margin: auto;
        }
    }

}