<div class="control-panel-container">
    <button 
        class="control-panel-button"
        mat-mini-fab 
        color="{{ isPlaying ? 'primary' : 'secondary' }}" 
        aria-label="Start or stop sorting algorithm"
        (click)="toggleStart()"
    >
        <mat-icon>{{ isPlaying ? "pause" : "play_arrow" }}</mat-icon>
    </button>

    <button 
        class="control-panel-button"
        mat-mini-fab 
        color="secondary" 
        aria-label="Reset array"
        (click)="handleReset()"
    >
        <mat-icon>stop</mat-icon>
    </button>

    <button 
        class="control-panel-button"
        mat-mini-fab 
        color="secondary" 
        aria-label="Go back one step"
        (click)="handlePrevious()"
    >
        <mat-icon>skip_previous</mat-icon>
    </button>

    <button 
        class="control-panel-button"
        mat-mini-fab 
        color="secondary" 
        aria-label="Advance one step"
        (click)="handleNext()"
    >
        <mat-icon>skip_next</mat-icon>
    </button>

</div>