<div class="main-container"> 
    <app-nav-bar 
        (onToggleMenu)="sidePanel.toggle()"
    ></app-nav-bar>

    <mat-sidenav-container style="flex: 1;">
            
        <mat-sidenav 
            #sidePanel 
            class="main-side" 
            [mode]="(breakpointService.isMobileView$ | async) ? 'over' : 'side'" 
            opened
        >
            <app-side-panel></app-side-panel>
        </mat-sidenav>

        <mat-sidenav-content class="main-content">

            <app-control-panel class="main-control"></app-control-panel>

            <!-- <app-graph-size class="main-graph"></app-graph-size> -->
            <app-graph-color class="main-graph"></app-graph-color>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>